# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Python virtual environment
py_env/

# Python virtual environment
py_env/

# Zephyr SDK
workspace/zph_ws/zephyr_sdk/

# West workspace internals
workspace/zph_ws/.west/

# Bootloader sources
workspace/zph_ws/bootloader/

# Zephyr modules
workspace/zph_ws/modules/

# Tools directory
workspace/zph_ws/tools/

# Zephyr source tree
workspace/zph_ws/zephyr/

# Build artifacts
workspace/zph_ws/zpp_srg/build/